<!doctype html>

{% load staticfiles %}

<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Invitations{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
    {% if user and user.is_authenticated %}
        <p>Hello, {{ user.first_name }} {{ user.last_name }}</p>
    {% endif %}

    {% block body %}
    {% endblock %}
    <!-- navigation -->
    {% if user.is_authenticated %}
    <nav class="fixednav">
        <ul>
            <li>
                <a href="{% url 'invitations:events' %}">
                    Events<br/>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'invitations:create' %}">
                    Create<br/>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}?next={% url 'login' %}">
                    Logout<br/>
                    <i class="fa fa-close" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    Settings<br/>
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
</body>
<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/what-input.js' %}"></script>
<script src="{% static 'js/vendor/foundation.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</html>