{% extends 'invitations/base.html' %}

{% load staticfiles %}

{% block title %}
    Create
{% endblock %}

{% block body %}

<!-- page heading -->
<header class="row column">
    <h1>Create an invitation</h1>
</header>

<form action="" method="post" class="createform">
	<div class="row column">
        {% if form.errors %}
            <p>
            Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        {{ form.title.errors }}
		<label>Title:
			{{ form.title }}
		</label>

        {{ form.description.errors }}
		<label>Describe the event:
            {{ form.description }}
		</label>

        {{ form.location.errors }}
		<label>Location:
			{{ form.location }}
		</label>

        {{ form.min_guests.errors }}
		<label>Minimum # guests:
			{{ form.min_guests }}
		</label>

        {{ form.date.errors }}
		<label>When:
			{{ form.date }}
		</label>

        <!--
		<label>Time:
			<input type="time" placeholder="Start time">
		</label>
		-->

       {% comment %}
        {{ form.deadline.errors }}
		<label>RSVP deadline:
			{{ form.deadline }}
		</label>
        {% endcomment %}

        <h2>People to invite:</h2>
        {% for user in users %}
            <label><input type="checkbox" name="invited" value="{{ user.id }}" class="invitecheck"> {{ user.first_name }} {{ user.last_name }}</label>
        {% endfor %}

        {% csrf_token %}
		<button type="submit" class="button expanded">Continue</button>
	</div>
</form>

{% endblock %}