{% extends 'invitations/base.html' %}

{% load staticfiles %}

{% block title %}
    Details
{% endblock %}

{% block body %}
    <header class="row column">
        <h1>Details</h1>
        <div class="respondbydate">Respond by: {{ event.deadline }}</div>
    </header>

    <div class="row">
        <div class="small-3 columns">Title: </div>
        <div class="small-9 columns">{{ event.title }}</div>
    </div>
    <div class="row">
        <div class="small-3 columns">Description: </div>
        <div class="small-9 columns">{{ event.description }}</div>
    </div>
    <div class="row">
        <div class="small-3 columns">Location: </div>
        <div class="small-9 columns">{{ event.location }}</div>
    </div>
    <div class="row">
        <div class="small-3 columns">Date: </div>
        <div class="small-9 columns">{{ event.date }}</div>
    </div>
    <div class="row column text-center">
        <button class="button primary">I'm going</button> <button class="button secondary">Not going</button>
    </div>
    <div class="row column">
        <ul class="guestmugshots">
            <h3>Going</h3>
            {% if going %}
                {% for g in going %}
                    <li><img src="http://placehold.it/65x65" title="{{ g.contact.first_name }} {{ g.contact.last_name }}" /></li>
                {% endfor %}
            {% else %}
                <li>Nobody is going.</li>
            {% endif %}
        </ul>
    </div>
    <div class="row column">
        <ul class="guestmugshots">
            <h3>Invited</h3>
            {% if pending %}
                {% for p in pending %}
                    <li><img src="http://placehold.it/65x65" title="{{ p.contact.first_name }} {{ p.contact.last_name }}" /></li>
                {% endfor %}
            {% else %}
                <li>Everybody has RSVP'd.</li>
            {% endif %}
        </ul>
    </div>
{% endblock %}