{% extends 'invitations/base.html' %}

{% load staticfiles %}

{% block title %}
    Invitations
{% endblock %}

{% block body %}
    <!-- page heading -->
    <header class="row column">
        <h1>Invitations</h1>
    </header>

    <!-- event status -->
    <section class="row column eventstatus">
        <a href="{% url 'invitations:events' %}">Going <span class="badge">3</span></a> |
        <a href="{% url 'invitations:events' 'pending' %}">Pending <span class="badge">3</span></a> |
        <a href="{% url 'invitations:events' 'declined' %}">Declined <span class="badge">3</span></a> |
        <a href="{% url 'invitations:events' 'past' %}">Past <span class="badge">3</span></a> |
        <a href="{% url 'invitations:events' 'hosting' %}">Hosting <span class="badge">3</span></a>
    </section>

    <!-- invite item -->
    {% if invitations %}
        {% for invitation in invitations %}
        <section class="row itemcontainer">
            <a href="{% url 'invitations:detail' invitation.event.id %}">
                <div class="small-3 columns itemmugshot"><img src="http://placehold.it/125x125" alt="mugshot"></div>
                <div class="small-4 columns itemdescription">
                    <div class="itemtitle">
                        {{ invitation.event.title }}
                    </div>
                    <div class="itemhost">
                        Hosted by {{ invitation.event.host.first_name }} {{ invitation.event.host.last_name }}
                    </div>
                </div>
                <div class="small-3 columns itemwhen">
                    <div class="itemdate">{{ invitation.event.date }}</div>
                    <div class="itemtime">{{ invitation.event.time }}</div>
                </div>
                <div class="small-2 columns itemsspotsopen">0/{{ invitation.event.min_guests }}</div>
            </a>
        </section>
        {% endfor %}
    {% else %}
        <section class="row itemcontainer">
        Nothing to show.
        </section>
    {% endif %}
{% endblock %}