{% extends 'invitations/base.html' %}

{% load staticfiles %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="row">
        <div class="medium-6 medium-centered large-4 large-centered columns">
            <form action="{% url 'invitations:events' 'pending' %}" method="post">
                {% csrf_token %}
                <div class="row column log-in-form">
                    <p class="text-center"><img class="circle" src="http://placehold.it/150x150" alt=""></p>
                    <label>Email
                        <input type="text" name="email" placeholder="somebody@example.com">
                    </label>
                    <label>Password
                        <input type="password" name="password" placeholder="Password">
                    </label>
                    <p><button type="submit" class="button expanded">Log In</button></p>
                    <!-- <p class="text-center"><a href="#">Forgot your password?</a></p>    -->
                </div>
            </form>
        </div>
    </div>
{% endblock %}
