{% extends 'invitations/base.html' %}

{% load staticfiles %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    {% if form.errors %}
        <p>Error: {{ form.errors }}</p>
    {% endif %}
    <div class="row">
        <div class="medium-6 medium-centered large-4 large-centered columns">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row column log-in-form">
                    <p class="text-center"><img class="circle" src="http://placehold.it/150x150" alt=""></p>
                    <!--
                    <label>Email
                        <input type="text" name="username" placeholder="somebody@example.com">
                    </label>
                    <label>Password
                        <input type="password" name="password" placeholder="Password">
                    </label>
                    <p><button type="submit" class="button expanded">Log In</button></p>
                    -->
                    <p><a href="{% url 'social:begin' 'facebook' %}" class="button expanded"><i class="fa fa-facebook-square" aria-hidden="true"></i> Log In with Facebook</a></p>
                    <!-- <p class="text-center"><a href="#">Forgot your password?</a></p>    -->
                </div>
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% else %}
                    <input type="hidden" name="next" value="{% url 'invitations:events' %}" />
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
