body {}

.log-in-form { border: 1px solid #cacaca; padding: 1rem !important; border-radius: 3px; margin-top: 2rem; }

.circle { border-radius: 50%; }

.columnsheadscontainer { color: #757575; margin-bottom: 1em; }

/*item styles*/
.itemcontainer .itemmugshot img { border-radius: 50%; }

.itemcontainer { padding: 1em 0; }
	.itemcontainer:hover { background: #eee; }
/*.itemcontainer a:link, .itemcontainer a:visited { float: left; }*/

.eventstatus .badge { background: green; color: white; }

/*fixed nav*/
nav.fixednav {
    position: fixed;
    bottom: 0;
    left: 0;
    background: green;
    width: 100vw;
    padding: 1em 0;
}
	.fixednav ul { list-style-type: none; padding: 0; margin: 0; }
		.fixednav ul li { text-align: center; display: inline-block; margin-left: 2em; }
			.fixednav ul li:last-child { float: right; margin: 0 2em 0 0; }
			.fixednav ul li a:link, .fixednav ul li a:visited { color: white; }
			.fixednav ul li .fa { color: white; font-size: 2em; }


/*detail page*/
.guestmugshots { list-style-type: none; margin: 0; padding: 0; }
	.guestmugshots li { margin: 0 .5em .5em 0; float: left; }
	.guestmugshots li img { border-radius: 50%; }



/*create page*/
form.createform {margin-bottom: 125px;}